/* @font-face {
  font-family: 'Janna';
  src: url("../css/font/JannaLT-Bold.eot");
  src: url("../css/font/JannaLT-Bold.eot?#iefix") format("embedded-opentype"), url("../css/font/JannaLT-Bold.woff2") format("woff2"), url("../css/font/JannaLT-Bold.woff") format("woff"), url("../css/font/JannaLT-Bold.ttf") format("truetype"), url("../css/font/JannaLT-Bold.svg#JannaLT-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Janna';
  src: url("../css/font/JannaLT-Regular.eot");
  src: url("../css/font/JannaLT-Regular.eot?#iefix") format("embedded-opentype"), url("../css/font/JannaLT-Regular.woff2") format("woff2"), url("../css/font/JannaLT-Regular.woff") format("woff"), url("../css/font/JannaLT-Regular.ttf") format("truetype"), url("../css/font/JannaLT-Regular.svg#JannaLT-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima';
  src: url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.eot");
  src: url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.eot?#iefix") format("embedded-opentype"), url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.woff2") format("woff2"), url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.woff") format("woff"), url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.ttf") format("truetype"), url("../css/font/FONTSPRINGDEMO-ProximaNovaExtraboldRegular.svg#FONTSPRINGDEMO-ProximaNovaExtraboldRegular") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url("../css/font/GolosUI-Bold.eot");
  src: url("../css/font/GolosUI-Bold.eot?#iefix") format("embedded-opentype"), url("../css/font/GolosUI-Bold.woff2") format("woff2"), url("../css/font/GolosUI-Bold.woff") format("woff"), url("../css/font/GolosUI-Bold.ttf") format("truetype"), url("../css/font/GolosUI-Bold.svg#GolosUI-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos';
  src: url("GolosUI-Regular.eot");
  src: url("GolosUI-Regular.eot?#iefix") format("embedded-opentype"), url("GolosUI-Regular.woff2") format("woff2"), url("GolosUI-Regular.woff") format("woff"), url("GolosUI-Regular.ttf") format("truetype"), url("GolosUI-Regular.svg#GolosUI-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */