@import '~normalize.css';
@import '_vars.scss';
* {
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
}

body {
    color: #fff;
    overflow-y: scroll !important;
    // custom scrollbar
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-track {
        background: #30303f;
    }
    &::-webkit-scrollbar-thumb {
        background: #252533;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #515174;
    }
}

.tippy-content {
    font-family: 'Gilroy', sans-serif;
}

.text {
    &-primary {
        color: #1877F2
    }
    &-success {
        color: #00FF66
    }
    &-error {
        color: #FF0000
    }
    &-secondary {
        color: #FF7002
    }
}

.page-title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.page-content {
    margin-top: 30px;
}

table.ui-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    & thead {
        & th {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #8585A9;
            height: 45px;
            border-bottom: 1px solid #4E4E72;
            box-sizing: border-box;
            text-align: left;
            padding: 0 10px;
            &.right {
                text-align: right;
            }
        }
    }
    & tbody {
        & td {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            color: #FFFFFF;
            height: 45px;
            box-sizing: border-box;
            padding: 0 10px;
            &.right {
                text-align: right;
            }
        }
        & tr td {
            border-bottom: 1px solid #4E4E72;
        }
        & tr:last-child td {
            border-bottom: none;
        }
        // odd
        & tr:nth-child(odd) {
            background: #1E1E32;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}